Room: <%= @room_id %>

<div>
  <h1 phx-click="boom">The count is: <%= @val %></h1>
  <button phx-click="boom" class="alert-danger">BOOM</button>
  <button phx-click="dec">-</button>
  <button phx-click="inc">+</button>
</div>
